---
import Layout from "@/layouts/Layout.astro";
import Decoration from "@/components/Decoration.astro";
---

<Layout
    title="Contacto - Leandro y Mijail Joyería | Tu Joyería de Confianza en Ciego de Ávila"
    description="Visita Leandro y Mijail Joyería en Ciego de Ávila. Encuentra joyas únicas y artesanales."
>
    <main class="min-h-screen bg-primary">
        <Decoration
            title="Blog Oficial"
            subtitle="Para que estes al tanto de todas las noticias de nuestra joyeria"
        />
    </main></Layout
>
