---
import Layout from "@/layouts/Layout.astro";
import Contacto from "@/components/sections/Contacto.astro";
---

<Layout
    title="Contacto - Leandro y Mijail Joyería | Tu Joyería de Confianza en Ciego de Ávila"
    description="Visita Leandro y Mijail Joyería en Ciego de Ávila. Encuentra joyas únicas y artesanales. Ubicados en Marcial Gómez no. 15, entre Independencia y Joaquín de Agüero. Contacta: +53 538 456 111"
>
    <main class="min-h-screen bg-primary">
        <Contacto />
    </main>
</Layout>
