---
import CardCatalogo from "@/components/CardCatalogo.astro";
import categorias from "@/data/categorias.json";
---

<section class="min-h-screen bg-primary/50 py-16 px-6">
    <div class="max-w-7xl mx-auto">
        <div
            class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 place-items-center"
        >
            {
                categorias.categorias.map((categoria) => (
                    <CardCatalogo
                        category={categoria.categoria}
                        nameCategory={categoria.nombre_es}
                        img={categoria.imagen}
                        view={categoria.texto_ver_mas_es}
                    />
                ))
            }
        </div>
    </div>
</section>
