---
import CardCatalogo from "@/components/CardCatalogo.astro";
---

<section
    class="min-h-screen bg-gradient-to-br from-gray-900 via-black to-gray-800 py-16 px-6"
>
    <div class="max-w-7xl mx-auto">
        <div
            class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 place-items-center"
        >
            <CardCatalogo
                category="Categoria"
                nameCategory="anillos"
                img="/Hero.webp"
                view="Ver mas"
            />
            <CardCatalogo
                category="Categoria"
                nameCategory="anillos"
                img="/Hero.webp"
                view="Ver mas"
            />
            <CardCatalogo
                category="Categoria"
                nameCategory="anillos"
                img="/Hero.webp"
                view="Ver mas"
            />
            <CardCatalogo
                category="Categoria"
                nameCategory="anillos"
                img="/Hero.webp"
                view="Ver mas"
            />
            <CardCatalogo
                category="Categoria"
                nameCategory="anillos"
                img="/Hero.webp"
                view="Ver mas"
            />
            <CardCatalogo
                category="Categoria"
                nameCategory="collares"
                img="/Hero.webp"
                view="Ver mas"
            />
            <CardCatalogo
                category="Categoria"
                nameCategory="pulseras"
                img="/Hero.webp"
                view="Ver mas"
            />
            <CardCatalogo
                category="Categoria"
                nameCategory="aretes"
                img="/Hero.webp"
                view="Ver mas"
            />
            <CardCatalogo
                category="Categoria"
                nameCategory="cadenas"
                img="/Hero.webp"
                view="Ver mas"
            />
        </div>
    </div>
</section>
