---
import "@/styles/global.css";
import "@fontsource-variable/onest";
import Header from "@/components/layout/Header.astro";
const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="icon" type="image/svg+xml" href="/Leandro_Mijail.svg" />
        <meta name="generator" content={Astro.generator} />
        <meta
            name="description"
            content="Leandro Mijay Joyería SRL - La joyería preferida por los famosos y la farándula"
        />
        <title>{title}</title>
    </head>
    <body>
        <Header />
        <main class="pt-20 md:pt-24">
            <slot />
        </main>
    </body>
</html>
